<h2 class="text-white mb-4">Here are our wonderful gossips</h2>
<div id='creation'>
	<% if !!session[:user_id] %>
	<div class="btn-group">
		<button class="btn btn-primary" id='button'>
			<%= link_to "Creer un potin", new_gossip_path %>
		</button>
	</div>
	<% end %>
	<br><br>
	<% @author_name_with_title_and_id_hashs.each do |author_name_with_title_and_id_hash| %>
	<h2><%= author_name_with_title_and_id_hash[:author] %></h2>
	<% title = author_name_with_title_and_id_hash[:title] %>
	<% gossip_id = author_name_with_title_and_id_hash[:gossip_id] %>
	<% if (!!session[:user_id] && !!Like.find_by(gossip_id: params[:gossip_id], user_id: current_user.id)) %>
	<p><%= link_to "#{title}", gossip_path(gossip_id) %>      <%= link_to "#{Like.count{ |like| like.gossip_id == gossip_id }}", gossip_like_path(gossip_id, Like.find_by(gossip_id: params[:gossip_id], user_id: current_user.id)), method: :delete %></p>
	<% else %>
	<p><%= link_to "#{title}", gossip_path(gossip_id) %>      <%= link_to "#{Like.count{ |like| like.gossip_id == gossip_id }}", gossip_likes_path(gossip_id), method: :post %></p>
	<% end %>
	<% end %>
