<p><%= @cur_gossip.user.first_name %> <%= @cur_gossip.user.last_name.upcase %> (<%= @cur_gossip.user.email %>)</p>
<hr>
<p><%= @cur_gossip.user.age %> years old</p>
<hr>
<p><%= @cur_gossip.user.description %></p>
